{% load static %}
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>个人中心</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href={% static 'i/favicon.png' %}>
  <link rel="apple-touch-icon-precomposed" href={% static 'i/app-icon72x72@2x.png' %}>
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href={% static "css/amazeui.min.css" %}/>
  <link rel="stylesheet" href={% static 'css/admin.css' %}>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>Welcome</strong> <smal>个人中心</smal></small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>


</header>

<div class="am-cf admin-main">

    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">
            <li href="{% url 'personal' %}"> 我的收藏</li>
            <a href="{% url 'chart' %}">数据统计</a>
        </ul>
  </div>
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">收藏</strong> / <small>Collection</small></div>
        </div>
        <div class="am-g">
          <div class="am-u-md-6 am-cf">
              <div class="am-fl am-cf">
                  <div class="am-btn-toolbar am-fl">
                      <div class="am-btn-group am-btn-group-xs">
                          <button id="dels" type="button" class="am-btn am-btn-default">删除</button>
                      </div>
                      <div class="am-form-group am-margin-left am-fl">
                          <select>
                              <option value="option1">所有类别</option>
                              <option value="option2">计算机</option>
                              <option value="option3">互联网</option>
                              <option value="option4">金融</option>
                              <option value="option5">通信</option>
                              <option value="option6">物流</option>
                              <option value="option7">房地产</option>
                              <option value="option8">广告/媒体</option>
                              <option value="option9">教育/培训</option>
                              <option value="option10">服务</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="am-u-md-3 am-cf">
              <div class="am-fr">
                  <div class="am-input-group am-input-group-sm">
                      <input type="text" class="am-form-field">
                      <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="button">搜索</button>
                </span>
                  </div>
              </div>
          </div>
      </div>
        <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"></th><th class="table-title">职位</th><th class="table-type">类别</th><th class="table-author">薪资</th><th class="table-date">收藏日期</th><th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            {% for i in collectlist %}
            <tr >
              <td><input class="check_coll" type="checkbox" title="{{ i.job.position.url }}" /></td>
              <td><a href="{{ i.job.position.url }}">{{ i.job.position.name }}</a></td>
              <td>{{ i.job.type }}</td>
              <td>{{ i.job.salary }}</td>
              <td>{{ i.time }}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger" title="{{ i.job.position.url }}"> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      </div>
        </div>
    </div>
    共 {{ collectlist.paginator.num_pages }} 页
    <div class="am-fr">
    <ul class="am-pagination">
        {% if collectlist.has_previous %}
            <li class="am-disabled"><a href="?pn={{ collectlist.previous_page_number }}">上一页</a></li>
        {% endif %}
        {% for i in pbeans %}
            <li><a href="?pn={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if collectlist.has_next %}
            <li class="am-disabled"><a href="?pn={{ collectlist.next_page_number }}">下一页</a></li>
        {% endif %}
    </ul>
  </div>
</div>


<footer>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src={% static 'js/jquery-3.1.1.min.js' %}></script>
<script src={% static 'js/amazeui.min.js' %}></script>
<!--<![endif]-->
<script src={% static 'js/app.js' %}></script>
<script type="application/javascript">
    $('.am-btn.am-btn-default.am-btn-xs.am-text-danger').each(function () {
        $(this).click(function () {
            job_url = $(this).attr('title')
            if(confirm("确定删除该职位?")){
                $.get('/escollect/',{'url':job_url},function (status) {
                    window.location.reload()
                })
            }
        })
    })
    $('#dels').click(function () {
        if(confirm('确认删除所选职位？')){
            var infos = new Array()
            $(".check_coll").each(function () {
                var ischecked = $(this).prop('checked')
                var job_url = $(this).attr('title')
                if (ischecked){
                    $.get('/escollect/',{'url':job_url},function (status) {})
                }
            })
            window.location.reload()
        }
    })
</script>
</body>
</html>
