{% extends 'new_base.html' %}

{% block grid %}
<div class="ui equal width grid" style="margin:5px 0 5px 0;width:70%">
{#  ------------------------------------------------ CHART BLOCK ---------------------------------------------------  #}
    <div class="row">
      <div class="column">
        <div class="ui container segment">
          <div class="ui container" id="chart2"></div>
        </div>
      </div>
    </div>
{#  ------------------------------------------------ CHART BLOCK ---------------------------------------------------  #}
    <div class="row">
      <div class="column">
        <div class="ui container segment">
          <div class="ui container" id="pie1"></div>
        </div>
      </div>

      <div class="column">
          <div class="ui container segment">
          <div class="ui container" id="pie2"></div>
        </div>
      </div>
    </div>
{#  ------------------------------------------------ CHART BLOCK ---------------------------------------------------  #}
    <div class="row">
      <div class="column">
        <div class="ui container segment">
          <div class="ui compact menu">
            <div class="ui simple dropdown item">
              Area
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" id="JAVA">Java</div>
                <div class="item" id="C">C++</div>
                <div class="item" id="PYTHON">Python</div>
              </div>
            </div>
          </div>
          <div class="ui container" id="chart1"></div>
        </div>
      </div>
    </div>
{#  ------------------------------------------------ CHART BLOCK ---------------------------------------------------  #}
</div>
{% endblock %}
{#  ------------------------------------------------ SCRIPT BLOCK --------------------------------------------------  #}
{% block chartjs %}
    <script>
     $('#JAVA').click(function () {
          $('#chart1').highcharts({
            credits:{
                enabled:false
            },
            title: {
                text: 'java城市需求量'
            },
            yAxis: {
                title: {
                    text: 'TOP 10'
                }
            },
            series: {{ series_JAVA|safe }}
        });
    });
    </script>
{#  ------------------------------------------------ SCRIPT BLOCK --------------------------------------------------  #}
    <script>
        $('#C').click(function () {
          $('#chart1').highcharts({
            credits:{
                enabled:false
            },
            title: {
                text: 'python城市需求量'
            },
            yAxis: {
                title: {
                    text:  'TOP 10'
                }
            },
            series: {{ series_C|safe }}
        });
    });
    </script>
{#  ------------------------------------------------ SCRIPT BLOCK --------------------------------------------------  #}
    <script>
        $('#PYTHON').click(function () {
          $('#chart1').highcharts({
            credits:{
                enabled:false
            },
            title: {
                text: 'python城市需求量'
            },
            yAxis: {
                title: {
                    text:  'TOP 10'
                }
            },
            series: {{ series_C|safe }}
        });
    });
    </script>
{#  ------------------------------------------------ SCRIPT BLOCK --------------------------------------------------  #}
    <script>
    $(function () {
        // Create the chart
        $('#chart2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '软件行业职位总量柱状图'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: '数量'
                }
            },
            legend: {
                enabled: false
            },

            series: [{
                name: 'posts',
                colorByPoint: true,
                data: {{ series_post|safe }}
            }]
        });
    });

    </script>
{#  ------------------------------------------------ SCRIPT BLOCK --------------------------------------------------  #}
    <script>
    $(function () {
        $('#pie1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '软件职位需求分布'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Percent',
                colorByPoint: true,
                data: {{ pie1_data|safe }}
            }]
        });
    });
    </script>
{#  ------------------------------------------------ SCRIPT BLOCK --------------------------------------------------  #}
    <script>
    $(function () {
        $('#pie2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '软件行业地区需求量'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Percent',
                colorByPoint: true,
                data: {{ pie2_data|safe }}
            }]
        });
    });
    </script>
{% endblock %}