{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah2.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/blah.png' %}">
        <ul class="nav">
            <li><a href="{% url 'index' %}#news">Home</a></li>
        </ul>
    </div>
    <div >
        <ul >
            <li> <img src="{% static 'images/news-grid01.jpg' %}" width="100" height="91"></li>
            <li>
                <div class="article-info">
                    <h3>Tips to write an impressive resume online for beginner</h3>
                    <p class="meta-info">
                        <span class="meta-cate">2018-6-2</span>
                    </p>
                    <p class="description">
                       including forecasting, planning, budgeting, credit and collections, cost accounting, and financial control systems ? ? ? ? ? ? ? ? ? ? Report to the CFO (President) and be responsible for all accounting functions Providing analytical, budgetary & financial planninganagement/reporting support to senior m Establishing and maintaining internal controls, external financial reporting Interface with external auditors, handling all corporate tax matters Coordinate and oversee the annual profit planning process Introduce new methodologies and techniques for the use in planning and analysis Evaluate business opportunities and their potential impact on the strategic growth of the company Introduce and prepare financial analysis to be presented to senior management and develop interim and long-term financial forecasts Responsible for staff
                    </p>
                </div>
            </li>
        </ul>
    </div>

</body>
</html>